h1, h2 {
  color: #5c5c5c;
  font-style: italic;
  font-size: 75px;
} 

body {
  background-color: #22ff11;
  line-height: 20px;
  font-size: 20px;
}


a {
  color: palevioletred;
}

a:hover {
  color: red;
}
