h1 {
  text-align: center;
  color: #5c5c5c;
  font-style: italic;
  font-size: 75px;
} 
h2 {
 text-align: center;
 color: white;
 border: 3px solid orange;
 width: 100px;
 font-size: 20px
}

body {
  background-color: #22ff11;
  line-height: 20px;
  font-size: 20px;
}

p {
  width: 400px;
}

a {
  color: palevioletred;
}

a:hover {
  color: red;
}

#foods {
  color: purple;
}

.healthy {
  text-shadow: rgb(189, 255, 189) 3px 1px;
}

.unhealthy {
  text-shadow: red 1px 2px;
}